.initial-page {
  text-align: center;
  background-color: #c0edf9;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
  opacity: 0.95;
}

.slider-container {
  text-align: center;
  position: relative;
  display: inline-block;
  border-radius: 20px;
}

.img-container {
  display: flex;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 490px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 4px;
  background-color: #9fe0f2;
  margin: 20px;
  margin-bottom: 0px;
}

/* Style for the tabs */
.tabs-bar {
  background-color: #13a2b8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  border-radius: 30px;
  margin: 0 auto;
}

.img-tab-button {
  background-color: #13a2b8;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  height: 40px;
  width: 100px;
  margin: 0;
}

.img-tab-button:hover {
  background-color: #105467;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active {
  background-color: #19758e;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  height: 40px; 
  width: 100px;
  margin: 0; 
}

/* Style for the checkbox */
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #19758e;
  font-family: Arial, sans-serif;
  font-size: small;
  margin-left: 80px;
  margin-bottom: -10px;
  user-select: none;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Custom checkbox design */
.custom-checkbox .checkbox {
  width: 18px;
  height: 18px;
  background-color: #f1f1f1;
  border: 2px solid #19758e;
  border-radius: 4px;
  margin-right: 6px;
  position: relative;
  transition: all 0.3s ease;
}

/* Style for the checkmark inside the checkbox */
.custom-checkbox .checkbox::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  top: 1.5px;
  left: 6px;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* When the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + .checkbox {
  background-color: #19758e;
  border-color: #19758e;
}

/* Show the checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkbox::after {
  opacity: 1;
}

.custom-checkbox:hover .checkbox {
  background-color: #8ad3e7;
  border-color: #105467;
}

/* Style for the previous and next button */
.img-button {
  background-color: #19758e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  height: 40px; 
  width: 40px;
  margin: 0; 
}

.img-button:hover {
  background-color: #219abb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-button:active {
  background-color: #105467;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-button:disabled {
  background-color: #0e3d4a;
  cursor: not-allowed;
}

.not-user-container {
  color: #105467;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  background-color: #c0edf9;
  opacity: 0.95;
  width: 250px;
  height: 35px;
  border-radius: 30px;
  box-shadow: 0 3px 8px #105467;
  margin: 0 auto;
}

.message-container {
  color: #105467;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
  background-color: #c0edf9;
  opacity: 0.95;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 3px 8px #105467;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px;
}